__pycache__/
*.pyc
*.pyo
.env
*.egg-info/
dist/
build/
.eggs/
*.egg
health_records/
output/
asr_test_output/
*.wav
*.pcm
*.webm
Drug_OCR/outputs/
Drug_OCR/test/
Drug_OCR/.env
*.spec
logs/
ngrok/
ngrok.zip
start-project.ps1
start-project.vbs
mobile_app/
test_output/
test_real_output/
background.png
1.0.0
1.24.2
5.0
5.26.1
7.1.0
